
main iframe[name="hidden"] {
    display: none;
}
main form {
    margin-top: 24px;
}
main form div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
main form label {
    font-family: var(--body-font);
    font-size: 1.25rem;
}
main form label span {
    color: var(--theme-color-1);
    margin-left: .5em;
    user-select: none;
}
main form label input, main form label textarea {
    display: block;
    font-family: var(--body-font);
    font-size: 1.25rem;
    width: 50%;
    padding: .25em .5em;
    border: 2px solid #b0b0b0;
    border-radius: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}
main form label input:focus, main form label textarea:focus {
    border: 2px solid #909090;
}
main form button[type="submit"] {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 32px;
    background-color: var(--theme-color-4);
    box-sizing: border-box;
    border: 4px solid var(--theme-color-4);
    cursor: pointer;
    transition: .3s;
}
main form button[type="submit"]:hover {
    border: 4px solid var(--theme-color-4-dark);
}
#log {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    text-decoration: underline 1px solid var(--theme-color-3);
}