main {
    width: 75%;
}
main #copy {
    display: flex;
    margin-bottom: 8px;
}
main #copy #text {
    display: flex;
    flex-direction: column;
    width: 50%;
}
main #copy #text h1 {
    font-size: 3.5rem;
    display: block;
    width: 100%;
    margin: 0;
}
main #copy #text h1 span, main p span {
    white-space: nowrap;
    display: inline-block;
}
main #copy #text p {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
main #copy #cover {
    width: 50%;
}
main #copy #cover img {
    width: 100%;
    height: 0;
    object-fit: cover;
    vertical-align: bottom;
}
main #copy #cover .credit {
    display: inline-block;
    height: 1.5rem;
    margin: 8px 0 0 0;
    vertical-align: top;
}
main #more {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    width: max-content;
    padding: 4px 8px;
    margin-top: 8px;
    background-color: var(--theme-color-2);
    box-sizing: border-box;
    border: 4px solid var(--theme-color-2);
    cursor: pointer;
    transition: .3s;
}
main #more:hover {
    border: 4px solid var(--theme-color-2-dark);
}
main #annotation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}