:root {
    --headline-font: 'Inter', メイリオ, Meiryo, sans-serif;
    --body-font: 'Times New Roman', Times, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    --theme-color-1: #c03020;
    --theme-color-2: #2090f0;
    --theme-color-2-dark: #107fe0;
    --theme-color-3: #106000;
    --theme-color-3-dark: #005000;
    --theme-color-4: #f04030;
    --theme-color-4-dark: #e03020;
}

:root, html, body {
    padding: 0;
    margin: 0;
}
:root, html, body, body * {
    font-family: var(--headline-font);
}
header {
    padding: 16px 0 16px calc(2rem + 64px);
    text-align: center;
    box-shadow: 0 0 4px #00000080;
}
header #logo {
    color: var(--theme-color-1);
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
}
header > div {
    display: inline-block;
}
header div nav {
    line-height: 32px;
    display: inline-flex;
    flex-direction: row;
    gap: 16px;
}
header div nav a {
    color: #000;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}
header #share {
    position: relative;
    float: right;
    padding: 8px;
    margin-top: calc(2.4rem - 8px);
    margin-right: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
header #share:hover {
    background-color: #80808020;
}
header #share img {
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
}
header #qRCode {
    width: 12rem;
    margin-left: calc(100% - 12rem - 64px);
    border: 2px solid #c0c0c0;
}
header #qRCode img {
    width: 12rem;
    height: 12rem;
    user-select: none;
    pointer-events: none;
}
header #qRCode a, .skypeShare.square {
    margin: .5rem;
}
header #qRCode a:not(#email *), header #qRCode a img:not(#email *), .skypeShare:not(#email *), .square:not(#email *) {
    display: block;
    width: 2.5rem !important;
    height: 2.5rem !important;
}
.skypeShareLogo {
    width: 1.75rem !important;
    height: 1.75rem !important;
}
.skypeShare {
    border-radius: 4px;
}
.skypeShare:hover, .skypeShare:active  {
    border: 0 !important;
    background-color: #00aff0 !important;
    margin: .5rem !important;
}
#email {
    background-color: #808080;
    border-radius: 4px;
}
#email img {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin: 8px;
}
main {
    width: 62.5%;
    margin: 48px auto;
}
main p, main p *, main #text a:not(.button), main ol * {
    font-family: var(--body-font);
    font-size: 1.5rem;
}
main #text a:not(.button) {
    color: auto;
}
main a:not(.button) {
    color: var(--theme-color-3);
    text-decoration: underline;
}
main a:not(.button):hover {
    text-decoration: none;
}
main a.button {
    text-decoration: none;
}
main a.button:hover {
    text-decoration: underline;
}
main #text small, main #text small * {
    font-family: var(--body-font);
    font-size: 1.5rem;
}
main #text small::before {
    content: "※";
}