main #text ol {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
main #text > ol {
    padding-left: 0;
}
main #text ol li span {
    font-size: .75em;
    vertical-align: super;
}
main #agreement {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 8px;
    background-color: var(--theme-color-3);
    box-sizing: border-box;
    border: 4px solid var(--theme-color-3);
    cursor: pointer;
    transition: .3s;
}
main #agreement:hover {
    border: 4px solid var(--theme-color-3-dark);
}
