main .see-terms,
main div:not(form div, main div div),
iframe {
    width: 75%;
    margin: auto;
}

body {
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff
}

header {
    justify-content: center;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: calc(100% - 48px);
    background-color: #fff;
    padding: 24px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, .25) 0 2px 4px 0
}

header a {
    text-decoration: none;
    user-select: none;
    height: 18.5px
}

header div {
    padding: 0 32px
}

header div a {
    user-select: auto;
    color: #000;
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    margin-right: 32px
}

main {
    padding-top: 32px;
    margin: 0;
    font-weight: 200;
    position: relative;
    top: -88px
}

.motto {
    color: #fff;
    font-size: 48px;
    position: relative;
    background-image: url("./image/group.png");
    background-size: cover;
    background-position: 25% 50%;
    padding: 192px 288px;
    margin: 0;
}

.motto div {
    width: 50%
}

span {
    white-space: nowrap;
    display: inline-block
}

body .motto a {
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid #fff;
    text-decoration: none;
    user-select: none;
    transition: .15s
}

body .motto a:hover {
    filter: invert();
    background-color: #000;
    border: 2px solid #000
}

main .see-terms {
    background-color: #000;
    color: #fff;
    position: relative;
    padding: 48px 0;
    text-align: center
}

main .see-terms a {
    color: #b8acf1;
    text-decoration: none;
    font-weight: bold
}

main .see-terms a::after {
    content: " →"
}

main .see-terms a:hover {
    text-decoration: underline solid
}

label img::selection,
select::selection {
    filter: invert()
}

#detail h2 {
    font-size: 20px;
    text-align: left;
    width: 200px;
    margin-left: 24px;
  }
  #detail {
    margin-left: -256px;
    width: 256px;
    overflow: scroll;
    background-color: transparent;
  }
  .detail {
    animation-duration: .3s;
    animation-name: slidein;
    animation-fill-mode: forwards;
  }
  @keyframes slidein {
    from {
      margin-left: -256px;
      width: 256px;
    }
  
    to {
      margin-left: 0;
      width: 256px;
    }
  }
  .body {
    animation-duration: .3s;
    animation-name: retention;
    animation-fill-mode: forwards;
  }
  @keyframes retention {
    from {
      width: 100%;
      margin-left: -256px;
    }
  
    to {
      width: calc(100% - 256px);
      margin-left: 0;
    }
  }
  .iframe {
    animation-duration: .3s;
    animation-name: search;
    animation-fill-mode: forwards;
  }
  @keyframes search {
    from {
      width: 100%;
      margin-left: 0px;
    }
  
    to {
      width: calc(100% - 256px);
      margin-left: 256px;
    }
  }
  #fixed h1 {
    background-color: transparent;
  }
  .h1 {
    display: block !important;
  }
  #detail a:active {
    color: #6149f9 !important;
  }
  #detail::-webkit-scrollbar {
    display: none;
  }
  .link a, #license a {
    color: #0088bf;
    text-decoration: none;
  }
  .link a:active, #license a:active {
    color: #6149f9;
  }