main .see-terms,
main div:not(form div, main div div),
iframe {
    width: 75%;
    margin: auto;
}

body {
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff
}

header {
    justify-content: center;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: calc(100% - 48px);
    background-color: #fff;
    padding: 24px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, .25) 0 2px 4px 0
}

header a {
    text-decoration: none;
    user-select: none;
    height: 18.5px
}

header div {
    padding: 0 32px
}

header div a {
    user-select: auto;
    color: #000;
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    margin-right: 32px
}

main {
    padding-top: 64px;
    margin: 0;
    font-weight: 200;
    position: relative;
    top: -88px
}

.motto {
    margin: 0;
    color: #fff;
    font-size: 48px;
    position: relative;
    top: 80px
}

.motto {
    background-size: cover;
    background-position: 25% 50%;
    padding: 192px 288px
}

.motto div {
    width: 50%
}

span {
    white-space: nowrap;
    display: inline-block
}

body .motto a {
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid #fff;
    text-decoration: none;
    user-select: none;
    transition: .15s
}

body .motto a:hover {
    filter: invert();
    background-color: #000;
    border: 2px solid #000
}

main .see-terms {
    background-color: #000;
    color: #fff;
    position: relative;
    top: 48px;
    padding: 48px 0;
    text-align: center
}

main .see-terms a {
    color: #b8acf1;
    text-decoration: none;
    font-weight: bold
}

main .see-terms a::after {
    content: " →"
}

main .see-terms a:hover {
    text-decoration: underline solid
}

label img::selection,
select::selection {
    filter: invert()
}